@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1549086319982'); /* IE9 */
  src: url('iconfont.eot?t=1549086319982#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKEAAsAAAAABiQAAAI4AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAooRwE2AiQDCAsGAAQgBYRtBzUbcgUR1Yslsi+hHNtJIGJ2nkahe1nE5R8wBDYO+wOrgTOgAAAAAIAIqjWy53YfUSHK94AOUAEmKioWQSXKoQMqHx+WQEJfA3h/yuwJER5A/XTIXK8WhramqgyUdKzjAsQT9cI7J/XUyx8P+WR1MVwCy0EDwOe5pl4CHUh+oHNdNkUlJQXQ3nhAA+3A0ZFtIEPfMHbBC3xOoFaPKbF4fvsK1TJ7XSAueC6guhCTZVasFiobjmbxCCpUFw/m4WH0/fhrUU2hIrHb1s+f1TD7I5yydP3/vYCAOAGdrkDCFDKx3ZhblQTjktpcNsCxmoMfUZaBVxzVJdhfZzfWgy6YCH54awUo4LEoo/WTVCAqLz1S/cQnW76omau/35sFZfMfaZD8Knj//NRsv6tl8PESEkXKloYFqF7PH7y/ZuBQNnS2p8iapnGyULnfjlq1KOFQq+9T7R0nK4VqHRMCVbozJNWGyMxOoUKdaVSqNoNak1ZO12lzURK5BhPuAIRmj1Fo9BZJsw9kZr+hQqf/qNQcCbV2gyvrjATpV5UKoxrLH/SVDM712Spufib+6ArN6yL+nXTySUzCuFy8oIF0iR3TJ6dmDp1Kj+fgNeo6wVFlS5WFjdm4iSLXpFJYSQ8rlQqjGssf9JUMLphuq8rnn4k/ukI7BurKd9LJz49JGA8gL8zDoIFHeWf65NTMoVPp8Rwsoq4THJsXbamysJmQGTeRM84NNYfbW/u/OwPAiu2Yh7M3cawqX4F6bgwAAAA=') format('woff2'),
  url('iconfont.woff?t=1549086319982') format('woff'),
  url('iconfont.ttf?t=1549086319982') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1549086319982#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-right:before {
  content: "\e601";
}

